*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}
body{
    background-color:   rgb(108, 159, 218);
    font-family: roboto , sans-serif;
    font-size: 13px;
}
.container{
    width: 1200px;
    background-color: white;
    height: auto;
    border-radius: 5px;
    margin-top: 20vh;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);    

}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
       
}
.articulo:hover{
    background-color: rgba(0, 0, 0, 0.2)
    
}
.imagen{
    width: 150px;
    padding: 20px;
}

a{
    text-decoration: none;
    text-align: center;
}
.articulo{
    display: inline-block;
    width: 33.33%;
    text-align: center;
    height:50vh;
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h2{
    font-family: 'Roboto'sans-serif;
    color: rgb(108, 159, 218);
    font-size: 2em;
    padding: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
p{
    font-family: 'Roboto'sans-serif;
    
    color: rgb(92, 93, 95);
    font-size: 1.5em;
    padding: 20px;
}
